.topo
	{
		height: 100px;
		width: 100%;
		background-color: red;
	}
	.conteudo
	{
		height: 500px;
		width: 100%;
		background-color: #fff;
	}
	.rodape
	{
		height: 100px;
		width: 100%;
		background-color: #000;
		color: #fff;
	}